@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('fonts/lato-regular.ttf') format('truetype');
    font-style: normal;
}

:root {
    --main-font:'roboto', sans-serif;
    --secondary-font:'lato', sans-serif;
    --main-color:white;
    --top-position:35%;
    font-size: 16px;
}

body {
    font-family: var(--main-font);
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:var(--main-color);
}

.page-header {
    margin:0;
}

.logo {
    margin:0;
    position:absolute;
    top: 150px;
    left:0;
    height:100%;
    width:100%;
    display:flexbox;
    align-items:center;
    justify-content:center;
}

.logo img {
    display:block;
    margin:0 auto;
    width:100%;
    max-width:1200px;
}

.social-media-links {
    padding:2%;
    text-align: right;
}

.social-media-links a {
    text-decoration: none;
}

.social-media-links img {
    width: 100%;
    max-width: 30px;
    margin:0 .5%;
}

.main-heading h1 {
    margin-bottom: 0;
}

.main-heading h1 a {
    font-family: var(--secondary-font);
    font-size: 6rem;
    color:darkolivegreen;
    text-decoration:none;
}

.main-heading h1 a:hover {
    color:darkgreen;
}

.letter-box {
    color:darkgrey;
}

.main-heading p {
    font-size: 2rem;
    color: var(--main-color);
    margin-top: 0;
}

.main-heading {
    position:static;
    width: 100%;
    padding: 12rem 0;
    text-align: center;
}

@media (min-width:600px) {
    .social-media-links img {
        max-width:40px;
    }
}

@media (min-width:800px) {
    
    .main-heading h1 a {
        font-size:8rem;
    }
}

@media (min-width:1200px) {
    
    .logo img {
        border:2px solid darkolivegreen;
    }
    
    .main-heading {
        background:none;
        clip-path:none;
        padding:0;
        top:var(--top-position);
    }
    
    .main-heading h1 a {
        font-size:12rem;
    }
    
    .main-heading h1 a {
        color:darkolivegreen;
    }
    .main-heading p {
        font-size:3rem;
        color: var(--main-color);
    }
}