@font-face {
    font-family: "oswald";
    src: url('/forms/fonts/oswald-regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "raleway";
    src: url('/forms/fonts/raleway-regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root {
	--main-foint:oswald, sans-serif;
	--secondary-font:raleway, sans-serif;
	--main-color:#333;
	--main-link-color:darkolivegreen;
	--main-background-color:white;
	--top-positions:35%;
	font-size:16px;
}

body {
    font-family:var(--main-font);
    font-weight:400;
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:var(--main-color);
    background-color:var(--main-background-color);
}

a {
    text-decoration:none;
    color:var(--main-link-color);
    font-family: var(--secondary-font);
}

path {fill:#333;
    fill-opacity: 1;
      
  }

.top-bar {
  display:grid;
  align-items: center;
  padding:0 1%;
}

.social-media {
  padding:0 1%;
  grid-area: 1 / 1 / 2 / 2;
}

.social-media a {
      display:inline-block;
      padding:2%;
  }

.cart-and-account {
  grid-area:1 / 2 / 2 / 3;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-and-account a {
  padding:0 1%;    
}

.search-bar {
    grid-area:2 / 1 / 2 / 3;
    height:1.5rem;
    display:block;
    border:2px solid darkolivegreen;
    border-radius:5px;
    border-color:#333;
    display:flex;
    padding:.125rem;
    
}

.search-box {
    border:none;
    background-color: transparent;
    outline:none;
    width:100%;
    
}

.search-icon {
    width:inherit;
    height:inherit;
}

.search-bar:focus-within .search-box::placeholder {
    color:transparent;
    border:none;
}



.logo {
    margin:4% auto;
    width:100%;
    grid-area:logo;
}

.logo > a > img {
    width:100%;
}

.page-sub-header {
    text-align:center;
    color:darkolivegreen;
    font-size:2rem;
    margin-top:-1.5rem;
    font-family:var(--main-font);
    grid-area:page-sub-header;
}

.text {
    display:flex;
    height:auto;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow:auto;
    top:30%;
}

.text a {
    font-size:1.5rem;
    font-family: var(--secondary-font);
    background-color:var(--main-background-color);
    width:100%;
    padding:5% 0;
    text-align: center;
}

.page-footer {
    position:relative;
    bottom:0;
    text-align:center;
    width:100%;
    margin:-35% 0 0 0;
}
    
.footer-nav a {
    display:block;
    padding:1% 2%;
    font-size:1.5rem;
    font-family: var(--secondary-font);
} 

.copyright {
    margin-top:5rem;
    margin-bottom:0;
}


.address {
    margin-top:0;
}

.contact-form {
    margin-bottom:50%;
    max-width:800px;
}

fieldset {
    border:none;
}

.contact-form textarea {
    min-height:8rem;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  width: 100%;
  padding: .75rem;
  border: 1px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: .375rem;
  margin-bottom: 1rem;
  resize: vertical;
}

.contact-form input[type=submit] {
    background-color:#153309;
}

.contact-form input[type=reset] {
    background-color:#37423d;
}

.contact-form input[type=submit],
.contact-form input[type=reset] {
  color: #FFF;
  padding: .75rem 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #333;
}

.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 1.25rem;
} 

@media (min-width:600px) {
    .logo {
        margin:0 auto;
        width:90%;
    }
    
    .page-footer {
        margin:-10% 0 0 0;
    }
    
    .text {
        top:27%;
    }
}

@media (min-width:700px) {
    
    .social-media img,
    .cart-and-account img {
        max-width:40px;
    }
    
    .search-bar {
        height:2rem;
    }
    
    .logo {
        margin:0 auto;
        width:80%;
    }

    .footer-nav a {
        display:inline-block;
    }
    
    .contact-form {
    margin-bottom:40%;
        display:grid;
        grid-gap:1%;
        grid-template-areas: 'first-name last-name'
                             'email email'
                             'comments comments'
                             'privacy privacy'
                             'submit submti';
    }
    
    .first-name {
        grid-area: first-name;
    }
    
    .last-name {
        grid-area: last-name;
    }
    
    .email {
        grid-area: email;
    }
    
    .comments {
        grid-area:comments;
    }
    
    .privacy {
        grid-area:privacy;
    }
    
    .submit-reset {
        grid-area:submit;
        width:50%;
    }
}

@media (min-width:800px) {
    body {
        margin:0 auto;
        width:90%;
    }
    
    .top-bar {
        grid-template-columns: 2fr 4fr 2fr;
    }
    
    .search-bar,
    .social-media,
    .cart-and-account {
        grid-area:auto;
    } 
    
    .contact-form {
        margin:0 auto 30% auto;
        width:90%;
}
}

@media (min-width:900px) {
    
    .contact-form {
        margin:0 auto 20% auto;
        width:80%;
    }
}

@media (min-width:1000px) {
    body {
        margin:0 auto;
        max-width:1200px;
    }
    
    .contact-form {
        width:70%;
    }
}

@media (min-width:1200px) {
    
    body {
        max-width:1400px;
    }
    
    .page-sub-header {
        font-size:2.5rem;
    }
    
    .text {
        top:40%;
    }
    
    .text a {
        font-size:2rem;
        font-weight: 900;
        color:#FFF;
        background-color:transparent;
    }
    
    .page-footer {
        margin:0;
    }
    .footer-nav a {
        transition: .75s ease;
    }
    .footer-nav :nth-child(odd):focus,
    .footer-nav :nth-child(odd):hover,
    .footer-nav :nth-child(odd):active{
        color:#333;
        transform:rotate(2deg);
        transition:.75s ease;
    }
    
    .footer-nav :nth-child(even):focus,
    .footer-nav :nth-child(even):hover,
    .footer-nav :nth-child(even):active {
        color:#333;
        transform:rotate(-2deg);
        transition: .75s ease;
    }
    
    .contact-form {
    margin-bottom:10%;
    }
}

@media (min-width:1400px) {
    
    body {
        max-width:1600px;
    }
    
    .logo {
        width:60%;
    }
    
    
}