@font-face {
    font-family: "Oswald";
    src: url(.../transitions/fonts/Oswald-Regular.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url(.../transitions/fonts/Raleway-Regular.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
